{% extends "layout.html" %}

{% block title %}
    Edit {{ gallery_name }}
{% endblock %}

{% block main %}
<h4>Gallery Name</h4>
<form action="/upgalnm" method="POST">
    <input type="text" name="gallery_name" placeholder="{{ galleries[0]["gallery_name"] }}">
    <input type="hidden" name="gallery_id" value="{{ galleries[0]["gallery_id"] }}">
    <button type="submit" class="btn btn-primary">Update Gallery Name</button>
</form>
<br>
<br>
<h5>Add New Photos</h5>
<form action="/upload" method="POST" enctype="multipart/form-data">
    <label for="photo">Upload Image</label>
    <input type="file" class="form-control-file" id="photo" name="photo">
    <br>
    <br>
    <label for="photo_name">Photo Name</label>
    <input type="text" id="photo_name" name="photo_name">
    <input type="hidden" name="gallery_id" value="{{ galleries[0]["gallery_id"] }}">
    <button type="submit" class="btn btn-primary">Upload Gallery</button>
</form>
<br>
<br>
<h5>Photographs</h5>
{% for i in photos %}
<div>
<img src="{{ i["path"] }}" alt="{{ i["name"] }}">
<p>{{ i["name"] }}</p>
<a href="/delete?i={{ i["photo_id"] }}&g={{ galleries[0]["gallery_id"] }}&u={{ galleries[0]["user_id"] }}"><button>Delete Photo</button></a>
</div>
{% endfor %}
{% endblock %}
