{% extends "layout.html" %}

{% block title %}
    Edit {{ gallery_name }}
{% endblock %}

{% block main %}
<h4> Gallery Name</h4>
<form action="/search" method="get">
    <input autocomplete="off" autofocus name="q" placeholder="{{ galleries }}" type="search">
    <input type="submit" value="Search">
</form>
<br>
<br>
<h4>{{ gallery_name }}</h4>
<br>
<h5>Photographs</h5>
{% for i in photos %}
<img src="{{ i["path"] }}" alt="{{ i["name"] }}">
<p>{{ i["name"] }}</p>
<a href="/delete?i={{ i["photo_id"] }}&g={{ i["gallery_id"] }}&u={{ i["user_id"] }}"><button>Delete Photo</button></a>
{% endfor %}
{% endblock %}
