{% extends "layout.html" %}

{% block title %}
    Edit {{ gallery_name }}
{% endblock %}

{% block main %}
<h4> Gallery Name</h4>
<form action="/search" method="get">
    <input autocomplete="off" autofocus name="q" placeholder="{{ galleries[0]["gallery_name"] }}" type="search">
    <input type="submit" value="Search">
</form>
<br>
<br>
<h5>Add New Photos</h5>
<form action="/upload?g={{ galleries[0]["gallery_name"] }}" method="POST" enctype="multipart/form-data">
    <div>
        <label for="exampleFormControlFile1">Upload Image</label>
        <input type="file" class="form-control-file" id="photo" name="photo">
        <input type="text" class="form-control" id="photo_name" name="photo_name">
        <button type="submit" class="btn btn-primary">Upload Gallery</button>
    </div>
</form>
<br>
<h4>{{ gallery_name }}</h4>
<br>
<h5>Photographs</h5>
{% for i in photos %}
<img src="{{ i["path"] }}" alt="{{ i["name"] }}">
<p>{{ i["name"] }}</p>
<a href="/delete?i={{ i["photo_id"] }}&g={{ i["gallery_id"] }}&u={{ i["user_id"] }}"><button>Delete Photo</button></a>
{% endfor %}
{% endblock %}
