{% extends "layout.html" %}

{% block title %}
    Add New Gallery
{% endblock %}

{% block main %}
<body>
        <form method="POST" enctype="multipart/form-data">
            <label for="exampleFormControlTextarea1">Gallery Title</label>
            <input type="text" id="exampleFormControlTextarea1" rows="1" name="gallery_title"></textarea>
            <br> 
            <br>
            <label for="photo">Upload Image</label>
            <input type="file" class="form-control-file" id="photo" name="photo" accept="image/jpeg">
            <br>
            <label for="photo_name">Photo Name</label>
            <input type="text" id="photo_name" name="photo_name">
            {% if session == 1 %}
            <p><i>Please upload a ".jpeg" image to start a new gallery</i></p>
            {% endif %}
            <br>
            <button type="submit" class="btn btn-primary">Upload Gallery</button>
        </form>
</body>

{% endblock %}