{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}
<body>
        <form method="POST" enctype="multipart/form-data">
          <div class="form-row align-items-center">
              <div class="col">
                <label for="exampleFormControlTextarea1">Gallery Title</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="gallery_title"></textarea>
              </div>
              <div class="col">
                <label for="exampleFormControlFile1">Upload Image</label>
                <input type="file" class="form-control-file" id="photo" name="photo">
              </div>
              <div class="col">
                <button type="submit" class="btn btn-primary">Upload Gallery</button>
              </div>
          </div>
        </form>
</body>

{% endblock %}