{% extends "layout.html" %}

{% block title %}
    Userpage
{% endblock %}

{% block main %}
    <h4>Hello, {{ username }}</h4>
    <a href="/newgallery"><button type="button"> Add Gallery</button></a>
    <a href="/download"><button type="button">View All Photos</button></a>
    <br>
    <br>
    <h5>Search Other Galleries</h5>
    <form action="/search" method="get">
        <input autocomplete="off" autofocus name="q" placeholder="Search Galleries" type="search">
        <input type="submit" value="Search">
    </form>
    <br>
    <h5>My Galleries</h5>
    <div style="padding-left: 2em; padding-right: 2em;">
        <table class="table table-hover">
            <tbody>
                {% if screenload == 1 %}
                {% for i in galleries %}
                <tr>
                    <td><a href="/gallery?g={{ i['gallery_id'] }}"><button type="button">{{ i["gallery_name"] }}</button></a></td>
                {% endfor %}
                {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
    {% if screenload == 0 %}
    <br>
    <h5><i>No Galleries at Moment</i></h5>
    {% endif %}
{% endblock %}
