{% extends "layout.html" %}

{% block title %}
Homepage
{% endblock %}

{% block main %}
    <h5>Search Other Galleries</h5>
    <form action="/search" method="get">
        <input autocomplete="off" autofocus name="q" placeholder="Search Galleries" type="search">
        <input type="submit" value="Search">
    </form>
    <form form action="/search" method="post">
        
    </form>
    <br>
    <h6>Top Three Galleries</h6>
    {% for i in top_sites %}
    <a href="/gallery?g={{ i["gallery_id"] }}"><button class="btn btn-primary">{{ i["gallery_name"] }} by {{ i["username"] }}</button></a>
    {% endfor %}
    <br>
    <hr>
    <h4>Hello, {{ username }}</h4>
    <a href="/newgallery"><button class="btn btn-primary">Add Gallery</button></a>
    <br>
    <br>
    <h5>My Galleries</h5>
    <div style="padding-left: 2em; padding-right: 2em;">
        {% if screenload == 1 %}
        {% for i in galleries %}
        <ul style="list-style-type:none;">
            <li><a href="/gallery?g={{ i['gallery_id'] }}"><button class="btn btn-primary">{{ i["gallery_name"] }}</button></a></li>
        </ul>
            {% endfor %}
        
        {% endif %}
    </div>
    {% if screenload == 0 %}
    <br>
    <h5><i>No Galleries at Moment</i></h5>
    {% endif %}
{% endblock %}
