{% extends "layout.html" %}

{% block title %}
    Edit {{ gallery_name }}
{% endblock %}

{% block main %}
<!-- Form to update gallery name -->
<h4>Gallery Name</h4>
<form action="/upgalnm" method="POST">
    <input type="text" name="gallery_name" placeholder="{{ galleries[0]["gallery_name"] }}">
    <input type="hidden" name="gallery_id" value="{{ galleries[0]["gallery_id"] }}">
    <button type="submit" class="btn btn-secondary">Update Gallery Name</button>
    <!-- Button to delete gallery -->
    <button type="submit" class="btn btn-danger"" formaction="/deletegal" formmethod="POST">DELETE GALLERY</button>
    </form>
</form>
<br>
<br>
<!-- Form to add more photos to gallery -->
<h4>ADD NEW PHOTOS</h4>
<br>
<form action="/upload" method="POST" enctype="multipart/form-data">
    <label for="photo">Upload Image</label>
    <input type="file" class="form-control-file" id="photo" name="photo" accept="image/jpeg">
    <br>
    <br>
    <label for="photo_name">Photo Name</label>
    <input type="text" id="photo_name" name="photo_name">
    <input type="hidden" name="gallery_id" value="{{ galleries[0]["gallery_id"] }}">
    <button type="submit" class="btn btn-secondary">Upload Photo</button>
</form>
<br>
<br>
<h4>PHOTOGRAPHS</h4>
<!-- Load photographs in gallery -->
{% for i in photos %}
<div style="margin:1em;">
    <img src="{{ i["path"] }}" alt="{{ i["name"] }}">
    <br>
    <br>
    <!-- Form to update name of or delete each photo in gallery -->
    <form action="/updatephotos" method="POST">
        <!-- Update name -->
        <input type="text" name="photo_name" placeholder="{{ i["name"] }}">
        <input type="hidden" name="photo_id" value="{{ i["photo_id"] }}">
        <input type="hidden" name="gallery_id_2" value="{{ galleries[0]["gallery_id"] }}">
        <button type="submit" class="btn btn-secondary">Update Photo Name</button>
        <!-- Delete photo -->
        <button type="submit" class="btn btn-danger" formaction="/delete" formmethod="POST">Delete Photo</button>
    </form>
    <br>
</div>
{% endfor %}
<hr>
<!-- Loading comment section -->
    <h5>Comment Section</h5>
    {% if state == 1 %}
    <table class="table">
        <tbody> 
            {% for i in comments %}
            <tr>
                <td>
                {{ i["comment"] }} — 
                <i>{{ i["timestamp"] }}</i>
                </td>
            {% endfor %}
            </tr>
        </tbody>
    </table>
    {% endif %}
    <!-- Submit comments/replies to comments -->
    <form action="/submit" method="POST">
        <div class="form-floating mb-3" style="margin-left:16em; margin-right:16em;">
             <textarea class="form-control" id="floatingInput" name="comment"></textarea>
             <label for="floatingInput">Comment</label>
         </div>
         <input type="hidden" name="gallery_id" value="{{ galleries[0]["gallery_id"] }}">
         <button type="submit" class="btn btn-outline-secondary" >Submit</button>
     </form>
{% endblock %}