{% extends "layout.html" %}

{% block title %}
    {{ gallery_name }}
{% endblock %}

{% block main %}
<body>
    <!-- Search bar -->
    <h5>Search Other Galleries</h5>
    <form action="/search" method="get" >
        <input autocomplete="off" autofocus name="q" placeholder="Search Galleries" type="search">
        <input type="submit" class="btn btn-outline-secondary" value="Search">
        <input type="submit" class="btn btn-outline-secondary" value="See All Galleries" formaction="/search" formmethod="post">
    </form>
    <br>
    <!-- Search bar: three most viewed galleries -->
    <h6>Three Most Viewed Galleries</h6>
    {% for i in top_sites %}
    <a href="/gallery?g={{ i["gallery_id"] }}"><button class="btn btn-dark">{{ i["gallery_name"] }} by {{ i["username"] }}</button></a>
    {% endfor %}
    <br>
    <hr>
    <br>
    <!-- Gallery page -->
    <h4>{{ gallery_name }}</h4>
    <br>
    <h5>Photographs</h5>
    {% for i in photo_list %}
    <!-- Loading images -->
    <img src="{{ i["path"] }}" alt="{{ i["name"] }}">
    <p>{{ i["name"] }}</p>
    {% endfor %}
    <br>
    <hr>
    <!-- Artist information/bio -->
    <!-- Link to view more of artists work -->
    <h5>Artist: <a href="/search?a={{ gallery_creator }}" style="color: black">{{ gallery_creator }}</a></h5>
    {% if profile_check == 1 %}
    <!-- Photo and bio if provided by user -->
    <img class="profile_pic" src="static/photos/profile.jpg" alt="profile_pic"> 
    <p>{{ profile_info }}</p>
    {% endif %}
    <hr>
    <!-- Comment section-->
    <h5>Comment Section</h5>
    {% if state == 1 %}
    <table class="table">
        <tbody> 
            {% for i in comments %}
            <tr>
                <td>
                {{ i["comment"] }}
                <i>{{ i["timestamp"] }}</i>
                </td>
            {% endfor %}
            </tr>
        </tbody>
    </table>
    {% endif %}
    <!-- Submit comment -->
    <form action="/submit" method="POST">
       <div class="form-floating mb-3" style="margin-left:16em; margin-right:16em;">
            <textarea class="form-control" id="floatingInput" name="comment"></textarea>
            <label for="floatingInput">Comment</label>
        </div>
        <input type="hidden" name="gallery_id" value="{{ gallery_id }}">
        <button type="submit" class="btn btn-outline-secondary" >Submit</button>
    </form>
</body>
{% endblock %}