{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="symbol" placeholder="Tickername" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <div>
        {% if lookup_results is not none %}
        <br>
        <br>
        <h4>{{ name }} Current Price</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Ticker</th>
                    <th>Name</th> 
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ ticker }}</td>
                    <td>{{ name }}</td> 
                    <td>{{ price | usd }}</td>
                </tr>
            </tbody>
        </table>
        {% else %}
        <br>
        {% endif %}
    </div>
    
{% endblock %}
