{% extends "layout.html" %}

{% block title %}
    {{ gallery_name }}
{% endblock %}

{% block main %}
<!-- Search bar and top galleries -->
<h5>Search Other Galleries</h5>
<form action="/search" method="get" >
    <input autocomplete="off" autofocus name="q" placeholder="Search Galleries" type="search">
    <input type="submit" class="btn btn-outline-secondary" value="Search">
    <input type="submit" class="btn btn-outline-secondary" value="See All Galleries" formaction="/search" formmethod="post">
</form>
<br>
<h6>Three Most Viewed Galleries</h6>
{% for i in top_sites %}
<a href="/gallery?g={{ i["gallery_id"] }}"><button class="btn btn-dark">{{ i["gallery_name"] }} by {{ i["username"] }}</button></a>
{% endfor %}
<br>
<hr>
<!-- Search results -->
<h5>SEARCH RESULTS</h5>
<br>
<div style="padding-left: 2em; padding-right: 2em;">
{% for i in galleries %}
    <div>
        <td><a href="/gallery?g={{ i["gallery_id"] }}"><button class="btn btn-outline-dark">{{ i["gallery_name"] }} by {{ i["username"] }}</button></a></td>
    </div>
    <br>
{% endfor %}
</div>
{% endblock %}
