  /* Used http://www.w3schools.com for inspiration for code related to buttons and gallery view */
  /* Format footer*/
  .footer {
    margin-top: -5em;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 0.1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    border-top-style: solid;
    border-width: 0.5em;
  }

  /* Format Navbar*/
  .navbar{
    font-family: marker felt; 
    font-size: 130%;
  }

  /* Formatting homepage */
  #homepage{
    background-size: contain;
    background-image: url(photos/home-page-img.jpg);
    background-color: #cccccc;
    position: relative;
    min-height: 100vh;
    font-family: georgia, serif;
  }

  #homepage_header{
    padding: 2em;
    font-size: 300%;
    letter-spacing: 0.1em;
    color: yellow;
    margin: 0.1em;
}

  /* Formatting 'see the light' page */
  #seethelight_page{
    position: relative;
    min-height: 100vh;
    background-color: bisque;
    font-family: georgia, serif;
    font-variant: small-caps;
  }

  #seethelight_header{
    color: #FFE4B5;
    padding: 1em;
    letter-spacing: 0.2em;
    background: linear-gradient(-36deg, rgb(161, 18, 18), #284ceb, #c107da, #ee7752, #ff6701, #9a03ff);
    border-bottom-style: solid;
    border-color: sienna;
    border-width:0.5em;
  }

  /* Content for Landafshitz Page */
  #landafshitz_page{
    position: relative;
    min-height: 100vh;
    background-color: darkred;
    color: white;
    font-family: georgia, serif;
    font-variant: small-caps;
  }

  #landafshitz_header{
    color: white;
    padding: 1em;
    font-family: georgia, serif;
    letter-spacing: 0.2em;
    background: linear-gradient(-45deg, #F00B51, #7366FF, #363553);
    border-bottom-style: solid;
    border-color: maroon;
    border-width: 0.5em;
  }

  /* Formating Gallery View */
  .gallery_border{
    padding-left: 5em;
    padding-top: 2em;
    padding-bottom: 7rem;
  }

  .gallery_img{
    border-style: solid;
    border-width: 1em;
    border-color: white;
    background-size: contain;
    max-width: 500px;
    margin: 0.5em;
  }

  .row::after{
    content: "";
    clear: both;
    display: table;
  }

  /* Formatting Gallery Text*/
  div.gallery_border p{
    margin-right: 1em;
  }

  /* Formatting about page*/
  #about_header{
    color: white;
    padding: 1em;
    letter-spacing: 0.2em;
    background: linear-gradient(-36deg, darkslateblue, darkorchid, darkmagenta, darkblue, #9a03ff);
    border-bottom-style: solid;
    border-color: purple;
    border-width: 0.5em;
    font-variant: small-caps;
  }

  #about_page{
    position: relative;
    min-height: 100vh;
    background-color: #0f0247;
    color: white;
    font-family: georgia, serif;
  }

  /* Formatting features of page such as buttons and page margins*/
  .incorrect{
    border-radius: 8px;
  }

  .correct{
    border-radius: 8px;
  }

  .correct:hover {
    background-color: #4CAF50;
    color: white;
  }

  .incorrect:hover {
    background-color: #4CAF50;
    color: white;
  }

  .page_content{
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  /* Formatting headers and input-text-button*/
  div.page_content h4{
    color: beige;
  }

  div.page_content h3{
    color: burlywood;
  }

  div.page_content hr{
    margin: 1.5em;
    border: 0.2em solid burlywood;
  }
  
  #input_button{
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 6em;
  }